<a href="https://colab.research.google.com/github/deenah128/CODSOFT/blob/main/imdb_rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/IMDb Movies India.csv',encoding='ISO-8859-1')
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [ ]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [ ]:
df.tail()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [ ]:
df.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [ ]:
df.dtypes

Name         object
Year         object
Duration     object
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [ ]:
df.isna().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['Year'].value_counts()

Year
(2019)    227
(2017)    211
(2018)    202
(2015)    177
(2016)    173
         ...
(1931)      2
(1939)      2
(1934)      2
(1933)      1
(1932)      1
Name: count, Length: 91, dtype: int64

In [ ]:
df['Year'].unique()

array(['(2019)', '(1997)', '(2005)', '(2012)', '(2014)', '(2004)',
       '(2016)', '(1991)', '(2018)', '(2010)', '(1958)', '(2021)',
       '(2017)', '(2009)', '(1993)', '(2002)', '(2008)', '(1994)',
       '(2007)', '(2003)', '(1998)', '(1979)', '(1974)', '(2015)',
       '(2006)', '(1981)', '(2020)', '(1985)', '(2013)', '(2011)',
       '(1988)', '(1987)', '(1999)', '(1973)', '(1968)', '(1982)',
       '(1977)', '(1950)', '(1969)', '(1948)', '(1990)', '(1989)',
       '(2001)', '(2000)', '(1953)', '(1978)', '(1963)', '(1992)',
       '(1976)', '(1984)', '(1986)', '(1966)', '(1975)', '(1980)',
       '(1967)', '(1970)', '(1952)', '(1972)', '(1971)', '(1964)',
       '(1954)', '(1962)', '(1957)', '(1965)', '(1996)', '(1995)',
       '(1956)', '(1955)', '(1936)', '(1983)', '(1951)', '(1961)',
       '(1959)', '(1949)', '(1960)', '(1946)', '(1940)', '(1945)',
       '(1938)', '(1941)', '(1942)', '(1935)', '(1937)', '(1947)',
       '(1931)', '(1933)', '(1943)', '(1944)', '(1932)', '(1939)',
       '(1934)'], dtype=object)

In [ ]:
df['Genre'].value_counts()

Genre
Drama                              844
Drama, Romance                     332
Action, Crime, Drama               329
Action, Drama                      206
Comedy, Drama                      205
                                  ...
Comedy, Crime, Musical               1
History, Romance                     1
Drama, History, Sport                1
Animation, Comedy, Drama             1
Documentary, Biography, Musical      1
Name: count, Length: 376, dtype: int64

In [ ]:
df['Genre'].unique()

array(['Drama', 'Comedy, Romance', 'Comedy, Drama, Musical',
       'Drama, Romance, War', 'Horror, Mystery, Thriller',
       'Action, Crime, Thriller', 'Horror', 'Horror, Romance, Thriller',
       'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Mystery',
       'Horror, Thriller', 'Comedy, Horror', 'Drama, Horror, Mystery',
       'Action, Thriller', 'Action', 'Horror, Mystery, Romance',
       'Horror, Mystery', 'Drama, Horror, Romance',
       'Action, Drama, History', 'Action, Drama, War', 'Thriller',
       'Comedy', 'Adventure, Horror, Mystery', 'Action, Sci-Fi',
       'Crime, Mystery, Thriller', 'Drama, History', 'Sport',
       'Biography, Drama, History', 'Horror, Romance', 'Crime, Drama',
       'Adventure, Drama', 'Comedy, Mystery, Thriller', 'Drama, Romance',
       'Crime, Thriller', 'Horror, Sci-Fi, Thriller',
       'Drama, Mystery, Thriller', 'Drama, Family, Musical',
       'Action, Comedy', 'Action, Adventure, Fantasy', 'Documentary',
       'Drama, Horror, Musical', 'Action, Biography, Drama',
       'Action, Fantasy, Mystery', 'Adventure, Drama, Mystery',
       'Mystery, Thriller', 'Comedy, Crime, Drama', 'Musical, Romance',
       'Drama, Thriller', 'Action, Adventure, Comedy', 'Romance',
       'Action, Crime, Drama', 'Musical, Romance, Drama',
       'Action, Sci-Fi, Thriller', 'Action, Drama, Romance',
       'Mystery, Romance', 'Fantasy', 'Drama, Romance, Thriller',
       'Drama, Family', 'Action, Comedy, Drama', 'Action, Drama',
       'Drama, Musical, Romance', 'Action, Romance', 'Action, Crime',
       'Action, Drama, Crime', 'Drama, Family, Music',
       'Action, Drama, Family', 'Drama, History, Romance',
       'Crime, Drama, Music', 'Sci-Fi', 'Comedy, Drama, Family',
       'Crime, Mystery, Romance', 'Action, Comedy, Crime',
       'Crime, Drama, Thriller', 'Comedy, Family, Fantasy',
       'Romance, Drama', 'Drama, Family, Romance',
       'Romance, Drama, Family', 'Musical, Romance, Thriller',
       'Family, Musical, Romance', 'Musical, Drama, Romance',
       'Drama, Music, Musical', 'Drama, Mystery',
       'Adventure, Comedy, Romance', 'Action, Drama, Thriller',
       'Crime, Drama, Horror', 'Drama, Horror, Thriller',
       'Action, Musical, Thriller', 'Romance, Thriller', 'Drama, Music',
       'Drama, Musical', 'Crime, Drama, Musical',
       'Action, Mystery, Thriller', 'Action, Crime, Mystery',
       'Action, Adventure, Thriller', 'Comedy, Romance, Sci-Fi',
       'Action, Drama, Mystery', 'Action, Comedy, Thriller',
       'Biography, Drama', 'Action, Comedy, Fantasy',
       'Drama, Family, Horror', 'Adventure', 'Action, Adventure, Family',
       'Action, Drama, Musical', 'Adventure, Thriller', 'Crime, Mystery',
       'Adventure, Comedy, Drama', 'Drama, Crime',
       'Drama, Fantasy, Romance', 'Musical, Comedy, Drama',
       'Action, Comedy, Romance', 'Drama, History, Musical',
       'Action, Crime, Horror', 'Adventure, Fantasy',
       'Action, Drama, Fantasy', 'Adventure, Drama, Fantasy',
       'Adventure, Fantasy, Romance', 'Action, Adventure, Drama',
       'Action, Adventure', 'Adventure, Drama, Romance', 'Family',
       'Mystery', 'Drama, Fantasy, Thriller', 'Musical, Fantasy',
       'Documentary, Thriller', 'Mystery, Romance, Musical',
       'History, Musical, Romance', 'Musical, Drama, Crime',
       'Musical, Thriller, Mystery', 'Biography, Drama, Romance',
       'Biography', 'History', 'Crime', 'Biography, Drama, Music',
       'Drama, Sci-Fi', 'Comedy, Musical, Romance', 'Drama, Sport',
       'Drama, Family, Comedy', 'Action, Thriller, Romance',
       'Comedy, Romance, Thriller', 'Action, Crime, Musical',
       'Action, Crime, Romance', 'Animation, Action, Adventure',
       'Action, Drama, Sport', 'Documentary, History', 'Comedy, Musical',
       'Biography, Crime, Thriller', 'Adventure, Mystery, Thriller',
       'Biography, Drama, Sport', 'Action, Romance, Thriller',
       'Action, Comedy, Musical', 'Crime, Drama, Romance',
       'Mystery, Romance, Thriller', 'Action, Adventure, Musical',
       'Crime, Musical, Mystery', 'Action, Thriller, Crime',
       'Adventure, Comedy, Crime', 'Comedy, Horror, Musical',
       'Family, Thriller', 'Drama, Action, Crime', 'Drama, War',
       'Comedy, Drama, Thriller', 'Animation', 'Musical, Drama',
       'Action, Drama, Horror', 'Biography, Crime, Drama',
       'Action, Drama, Music', 'Adventure, Drama, Family',
       'Drama, Romance, Musical', 'Musical', 'War',
       'Comedy, Musical, Drama', 'Thriller, Musical, Mystery',
       'Drama, Action, Horror', 'Adventure, Crime, Drama',
       'Family, Romance', 'Crime, Fantasy, Mystery',
       'Documentary, Biography, Drama', 'Action, Fantasy, Thriller',
       'Animation, Drama, History', 'Biography, Drama, Musical',
       'Adventure, Drama, History', 'Family, Comedy',
       'Comedy, Drama, Music', 'Comedy, Horror, Mystery',
       'Comedy, Drama, Fantasy', 'Documentary, History, News',
       'Action, Crime, Family', 'Drama, Musical, Mystery',
       'Comedy, Family', 'Action, Thriller, Mystery',
       'Drama, Family, Fantasy', 'Action, Family', 'Comedy, Thriller',
       'Action, Adventure, Mystery', 'Comedy, Action',
       'Animation, Drama, Romance', 'Comedy, Crime, Romance',
       'Comedy, Drama, Sport', 'Documentary, Crime, History',
       'Musical, Mystery, Drama', 'Drama, Family, Thriller',
       'Drama, Musical, Thriller', 'Animation, Action, Comedy',
       'Drama, Fantasy, Sci-Fi', 'Comedy, Crime', 'Drama, Family, Sport',
       'Comedy, Fantasy, Romance', 'Action, Adventure, History',
       'Comedy, Family, Romance', 'Animation, Adventure, Fantasy',
       'Adventure, Comedy, Family', 'Drama, History, War',
       'Action, Musical, Romance', 'Comedy, Romance, Musical',
       'Fantasy, Drama', 'Action, Horror, Sci-Fi',
       'Mystery, Sci-Fi, Thriller', 'Biography, Family',
       'Drama, Action, Comedy', 'Drama, Music, Romance',
       'Action, Biography, Crime', 'Action, Adventure, Crime',
       'Adventure, Drama, Musical', 'Adventure, Drama, Sci-Fi',
       'Family, Music, Romance', 'Fantasy, Mystery, Romance',
       'Animation, Family', 'Action, Adventure, Romance',
       'Romance, Comedy, Drama', 'Animation, Adventure, Comedy', 'Music',
       'Crime, Drama, Family', 'Family, Drama', 'Comedy, Crime, Mystery',
       'Comedy, Mystery', 'Adventure, Drama, Music',
       'Biography, Drama, War', 'Musical, Drama, Family',
       'Drama, Musical, Family', 'Comedy, Crime, Thriller',
       'Action, History', 'Adventure, Drama, Thriller',
       'Drama, History, Thriller', 'Documentary, Drama', 'Comedy, Sport',
       'Animation, Comedy, Family', 'Drama, Fantasy',
       'Crime, Romance, Thriller', 'Comedy, Musical, Action',
       'Drama, Horror', 'Comedy, Crime, Musical', 'Drama, Family, Action',
       'Biography, History', 'History, Romance', 'Drama, History, Sport',
       'Animation, Comedy, Drama', 'Drama, Comedy, Family',
       'Family, Drama, Thriller', 'Musical, Mystery, Thriller',
       'Music, Romance', 'Musical, Comedy, Romance',
       'Musical, Action, Drama', 'Action, Musical, War',
       'Romance, Comedy', 'Action, Fantasy, Horror',
       'Crime, Drama, History', 'Comedy, Drama, Horror',
       'Crime, Horror, Thriller', 'Comedy, Sci-Fi',
       'Romance, Action, Crime', 'Musical, Thriller',
       'Action, Romance, Comedy', 'Comedy, Family, Musical',
       'Horror, Drama, Mystery', 'Thriller, Mystery, Family',
       'Comedy, Drama, Sci-Fi', 'Documentary, Biography, Crime',
       'Comedy, Fantasy', 'Action, Crime, Sci-Fi',
       'Action, Horror, Mystery', 'Comedy, War',
       'Drama, Fantasy, History', 'Drama, Family, Mystery',
       'Adventure, Romance', 'Romance, Action, Drama',
       'Comedy, Music, Romance', 'Comedy, Family, Sci-Fi',
       'Action, Drama, Western', 'Comedy, Drama, Mystery',
       'Action, Romance, Drama', 'Biography, Comedy, Drama',
       'Action, Mystery, Romance', 'Action, Musical',
       'Drama, Family, History', 'Crime, Musical, Romance',
       'Romance, Thriller, Mystery', 'Drama, Crime, Mystery',
       'Drama, Mystery, Romance', 'Biography, Drama, Family',
       'Action, Family, Mystery', 'Animation, Adventure, Family',
       'Comedy, Mystery, Romance', 'Drama, Thriller, Action',
       'Drama, Romance, Sport', 'Musical, Family, Drama',
       'Drama, Fantasy, Horror', 'Action, Adventure, Sci-Fi',
       'Drama, Action, Musical', 'Drama, Musical, Sport',
       'Action, Comedy, Horror', 'Documentary, Music',
       'Drama, Fantasy, Musical', 'Action, Fantasy, Musical',
       'Animation, Action', 'Comedy, Music', 'Action, Fantasy',
       'Fantasy, Musical, Mystery', 'Adventure, Family, Fantasy',
       'Drama, Fantasy, War', 'Action, War', 'Animation, Family, Musical',
       'Adventure, Biography, Drama', 'Drama, Romance, Family',
       'Family, Romance, Drama', 'Drama, Adventure, Action',
       'Comedy, Crime, Family', 'Biography, Drama, Thriller',
       'Action, Comedy, Mystery', 'Romance, Sci-Fi, Thriller',
       'Drama, Fantasy, Mystery', 'Thriller, Action',
       'Fantasy, Thriller, Action', 'Fantasy, Romance', 'Action, Mystery',
       'Adventure, Biography, History', 'Fantasy, Horror, Mystery',
       'Crime, Horror, Mystery', 'Action, Adventure, Biography',
       'Action, Family, Drama', 'Thriller, Mystery',
       'Musical, Drama, Comedy', 'Documentary, Family',
       'Action, Fantasy, Sci-Fi', 'Drama, Comedy, Action',
       'Documentary, Sport', 'Adventure, History, Thriller',
       'Documentary, Biography', 'Adventure, Horror, Romance',
       'Mystery, Musical, Romance', 'Action, Adventure, Horror',
       'Action, Crime, History', 'Sci-Fi, Thriller',
       'Documentary, Family, History', 'Fantasy, Horror',
       'Animation, Drama, Musical', 'Action, Crime, Fantasy',
       'Comedy, Musical, Mystery', 'Romance, Musical, Action',
       'Crime, Romance', 'Animation, Family, History',
       'Romance, Musical, Comedy', 'Comedy, Drama, History',
       'Action, Thriller, War', 'Animation, Drama, Adventure',
       'Drama, Mystery, Sci-Fi', 'Crime, Horror, Romance',
       'Fantasy, Horror, Romance', 'Comedy, Fantasy, Musical',
       'Animation, Action, Drama', 'Crime, Musical, Thriller',
       'Action, Comedy, War', 'Mystery, Sci-Fi',
       'Horror, Romance, Sci-Fi', 'Romance, Musical, Drama',
       'Documentary, Biography, Musical'], dtype=object)

In [ ]:
df['Votes'].value_counts()

Votes
7         90
10        87
9         87
13        74
8         71
          ..
402        1
7,441      1
5,798      1
13,768     1
1,496      1
Name: count, Length: 2027, dtype: int64

In [ ]:
df['Director'].unique()

array(['Gaurav Bakshi', 'Ovais Khan', 'Rahul Rawail', ..., 'Tariq Bhat',
       'Sumitra Bhave', 'Mozez Singh'], dtype=object)

In [ ]:
df['Director'].value_counts()

In [ ]:
df['Actor 1'].unique()

In [ ]:
df['Actor 1'].value_counts()

In [ ]:
df['Actor 2'].unique()

In [ ]:
df['Actor 2'].value_counts()

In [ ]:
df['Actor 3'].unique()

In [ ]:
df['Actor 3'].value_counts()

In [ ]:
df['Year'] = df['Year'].str.replace('(','')
df['Year'] = df['Year'].str.replace(')','')

df['Year']=df['Year'].astype(int)

In [ ]:
df['Year'].unique()

In [ ]:
df['Duration']=df['Duration'].str.replace(' min','')
df['Duration']=df['Duration'].astype(float)

In [ ]:
df['Duration'].unique()

In [ ]:
df['Votes']=df['Votes'].str.replace(',','')
df['Votes']=df['Votes'].astype(int)

In [ ]:
df['Votes'].unique()

In [ ]:
df.dtypes

In [ ]:
sns.regplot(x=df['Year'],y=df['Rating'])

In [ ]:
sns.regplot(x=df['Duration'],y=df['Rating'])

In [ ]:
sns.regplot(x=df['Votes'],y=df['Rating'])

In [ ]:
top_directors=df['Director'].value_counts(ascending=False).head(10)
sns.barplot(x=top_directors.values,y=top_directors.index).set(title="Top 10 directors")

In [ ]:
top_genres=df['Genre'].value_counts(ascending=False).head(10)
sns.barplot(x=top_genres.values,y=top_genres.index).set(title="Top 10 genres")

In [ ]:
actors=pd.concat([df['Actor 1'],df['Actor 2'],df['Actor 3']])
top_actors=actors.value_counts(ascending=False).head(10)

sns.barplot(x=top_actors.values,y=top_actors.index).set(title="Top 10 actors")

In [ ]:
top_movies=df.sort_values(by='Rating',ascending=False).head(15)
top_movies

In [ ]:
df['Genre_Average_Rating'] = df.groupby('Genre')['Rating'].transform('mean')
df['Director_Average_Rating'] = df.groupby('Director')['Rating'].transform('mean')
df['Actor1_Average_Rating'] = df.groupby('Actor 1')['Rating'].transform('mean')
df['Actor2_Average_Rating'] = df.groupby('Actor 2')['Rating'].transform('mean')
df['Actor3_Average_Rating'] = df.groupby('Actor 3')['Rating'].transform('mean')
df

In [ ]:
x=df.drop(['Name','Genre','Director','Actor 1','Actor 2','Actor 3','Rating'],axis=1)
y=df['Rating']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)
x_train

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

In [ ]:
#Performance Evaluation
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error,r2_score
print("Mean Absolute Error")
print(mean_absolute_error(y_test,y_pred))
print("Mean Absolute Percentage Error")
print(mean_absolute_percentage_error(y_test,y_pred))
print("Mean Squared Error")
mse=mean_squared_error(y_test,y_pred)
print(mse)
print("Root Mean Squared Error")
print(np.sqrt(mse))
print("R2 Score")
print(r2_score(y_test,y_pred))

In [ ]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()
model1.fit(x_train,y_train)
y_pred1=model1.predict(x_test)
y_pred1

In [ ]:
#Performance Evaluation
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error,r2_score
print("Mean Absolute Error")
print(mean_absolute_error(y_test,y_pred1))
print("Mean Absolute Percentage Error")
print(mean_absolute_percentage_error(y_test,y_pred1))
print("Mean Squared Error")
mse=mean_squared_error(y_test,y_pred1)
print(mse)
print("Root Mean Squared Error")
print(np.sqrt(mse))
print("R2 Score")
print(r2_score(y_test,y_pred))

In [ ]:
models=['Random Forest','Linear Regression']
score=[r2_score(y_test,y_pred),r2_score(y_test,y_pred1)]
sns.barplot(x=models,y=score)
plt.xlabel("Models")
plt.ylabel("R2 Score")
plt.title("R2 Score of different models")